# User and IDE files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userstates
*.DotSettings.user
.vs/
Build/

# User-specific files for IDEs
*.user
*.userosscache

# Temporary files
*.tmp
*.temp

# Project-specific files
bin/
obj/

# Debug and Release artifacts
Debug/
Release/

# NuGet packages
.nuget/
packages/

# ASP.NET Core development files
node_modules/

# Azure DevOps files
.azdevops/

# Local environment files
local.settings.json

# Secrets file
*.secrets.json

# Secrets management
Secrets.toml

# Database files
*.db
*.db-journal

# CLAUDE.md
CLAUDE.md

# .env
.env